<?xml version="1.0" encoding="utf-8"?> <!-- XML declaration specifying version and encoding -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"> <!-- Root element of the manifest file with namespace declarations -->

    <application
        android:allowBackup="true" <!-- Allow backup of the app data -->
        android:dataExtractionRules="@xml/data_extraction_rules" <!-- Define data extraction rules for backup and restore -->
        android:fullBackupContent="@xml/backup_rules" <!-- Specify content for full backup -->
        android:icon="@mipmap/ic_launcher" <!-- Application icon -->
        android:label="@string/app_name" <!-- Application label (name) -->
        android:roundIcon="@mipmap/ic_launcher_round" <!-- Application round icon -->
        android:supportsRtl="true" <!-- Support for right-to-left (RTL) layouts -->
        android:theme="@style/Theme.MyPantry" <!-- Application theme -->
        tools:targetApi="31"> <!-- Target API level for tools like Lint -->

        <activity
            android:name=".mealRecommendation" <!-- Name of the activity class -->
            android:exported="true"> <!-- Allow the activity to be launched by components of other applications -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /> <!-- Main entry point of the application -->

                <category android:name="android.intent.category.LAUNCHER" /> <!-- Launchable icon on the home screen -->
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity" <!-- Name of the main activity class -->
            android:exported="true"> <!-- Allow the activity to be launched by components of other applications -->
        </activity>

        <activity
            android:name=".GroceryActivity" <!-- Name of the grocery activity class -->
            android:exported="true"> <!-- Allow the activity to be launched by components of other applications -->
        </activity>

        <activity
            android:name=".addGrocery" <!-- Name of the add grocery activity class -->
            android:exported="true"> <!-- Allow the activity to be launched by components of other applications -->
        </activity>

        <activity
            android:name=".addPantry" <!-- Name of the add pantry activity class -->
            android:exported="true"> <!-- Allow the activity to be launched by components of other applications -->
        </activity>
    </application>

</manifest>
